{% extends 'basic.html' %}
{% load static %}
{% block title %}
    <title>WeWear-Match</title>
{% endblock %}
{% block add-css-script %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Match.css' %}">
{% endblock %}
{% block header-class %}<header class="home-background-basic img-shadow-basic">{% endblock %}
</header>
{% block body-container %}
    <div class="container text-align-center margin-top-50">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-push-8">
                <div class="row margin-top-15 margin-left-20 margin-right-20">
                    <label>输入淘宝服饰链接</label>
                </div>
                <div class="row margin-top-15 margin-left-20 margin-right-20">
                    <input type="text" class="form-control modal-input-adjust" id="pdclink" placeholder="link" onchange="loadCate1page()">
                </div>
                <div  class="row margin-top-15 margin-left-20 margin-right-20">
                    <div id="div-selectCate1" class="col-xs-6 col-md-6">

                    </div>
                    <div id="div-selectCate2" class="col-xs-6 col-md-6">

                    </div>
                </div>
                <div class="row margin-top-15 margin-left-20 margin-right-20">
                    <button id="btnstartMatching" class="btn body-button btn-lg" type="button" onclick="callMatching()">生成搭配</button>
                </div>
                <div id="matchBox2" class="row margin-top-15 match-box match-box-2 margin-left-20 margin-right-20">

                </div>
                {#category modal#}
                <div class="modal fade" id="chooseCategory" tabindex="-1" role="dialog" aria-labelledby="chooseCategoryModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-title-style modal-header-style">
                                <button type="button" class="close modal-btn-close-style" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">choose category</h4>
                            </div>
                            <div class="modal-body">
                                <div class="modal-card">
                                    <div class="row margin-top-15">
                                        <label>请选择服饰类别</label>
                                    </div>
                                    <div class="row margin-top-15">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2 modal-label-adjust">
                                                <label>类别1：</label>
                                            </div>
                                            <div id="div-modal-select-cate1" class="col-md-6">
                                                <select id="modal-select-cate1" class="form-control match-cate-modal" onchange="loadCate2()">
                                                  <option id="0">外套</option>
                                                  <option id="1">上装</option>
                                                  <option id="2">内衬</option>
                                                  <option id="3">内搭</option>
                                                  <option id="4">连体套装</option>
                                                  <option id="5">连衣套装</option>
                                                  <option id="6">西装套装</option>
                                                  <option id="7">裤装</option>
                                                  <option id="8">裙装</option>
                                                  <option id="9">鞋子</option>
                                                  <option id="10">配饰</option>
                                                </select>
                                            </div>
                                        </div>
                                    <div class="row margin-top-15 margin-bottom-15">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2 modal-label-adjust">
                                                <label>类别2：</label>
                                            </div>
                                            <div id="div-modal-select-cate2" class="col-md-6">
                                                <select id="modal-select-cate2" class="form-control match-cate-modal">
                                                </select>
                                            </div>
                                    </div>
                                </div>
                              </div>
                              <div class="modal-footer text-align-center modal-footer-style">
                                  <div class="row margin-bottom-15 modal-label-adjust warning-span">
                                      <span id="catagoryChooseCondition"></span>
                                  </div>
                                  <div class="row">
                                      <button type="button" class="btn body-button" onclick="loadCategories()">确定</button>
                                  </div>
                              </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-pull-4">
                <div id="matchBox1" class="row margin-top-15 match-box match-box-1 margin-left-20 margin-right-20">
                    <div id="loadingDiv">
		                <div class="row">
                            <label>正在为您生成搭配</label>
                        </div>
                        <div class="row">
                            <img src="/static/img/loading.gif"/>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table match-table-img-style">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="feedback-line" class="row margin-top-15 margin-left-20 margin-right-20">
                    <div class="col-xs-8 col-md-10"></div>
                    <div class="col-xs-2 col-md-1">
                        <i id="thumb-down" class="fa fa-thumbs-o-down feedback-style" onclick="feedback(this)"></i>
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <i id="thumb-up" class="fa fa-thumbs-o-up feedback-style" onclick="feedback(this)"></i>
                    </div>
                </div>
                <div id="matchPalette" class="row margin-top-15 margin-left-20 margin-right-20">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/Match.js' %}"></script>
    <script src="{% static 'js/color-thief.js' %}"></script>
{% endblock %}
